@model Frontend.DTO.Response.NewsResponseDTO

@{
    ViewData["Title"] = "SingleNews";
        Layout = "_MenuLayout";

    var Image = "";
}

<div class="card" style="margin:auto">
    <h6 class="card-text" style="margin-top:2rem;margin-left:2rem;margin-right:2rem;">
        <small class="text-muted" >
            Published on @Html.DisplayFor(modelItem => Model.CreatedAt) by @Html.DisplayFor(modelItem => Model.User.firstName) @Html.DisplayFor(modelItem => Model.User.lastName)
                </small>
            </h6>
    <h1 style="margin-left:2rem;margin-right:2rem;">
    @Html.DisplayFor(modelItem => Model.Subject)
</h1>
<hr>

<div class="d-flex flex-column" style="max-width: 940px; margin:auto; padding-top:2rem;">
    <div class="col-md-3" style="border-radius:10%; width:100%">
        <img src="~/Images/@Model.Image" style="height:400px;width:100%; object-fit:cover">

    </div>
    <div class="mt-4">
        <div class="m-auto" id="heading-2" style="width:100%">

            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
            

            <p style="text-align:justify;padding-top:2rem; margin-left:2rem;margin-right:2rem;font-size:15px;color:black; white-space:pre-wrap;">
                @Html.DisplayFor(modelItem => Model.Content)

            </p>

        </div>




    </div>

</div>
</div>

